<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="../css/burger_style.css" type="text/css" />
		<title>Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/burgers.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@800&display=swap" rel="stylesheet">
  </body>
	</head>
	<body>
        <h1 id="main-text" align="center">Eat-Da-Burger</h1>
        <img src="../img/burger1.png" class="center">
        <br>
    
		{{{ body }}}
	</body>
    <footer class="burgerFooter">
        <br>
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2020 Meownica Productions</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/monica0491">Reference Work</a>
			</div>
		</div>
	</footer>
</html>
