.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: auto;
  }

body {
    background-color:#fdd716;
    font-family: 'Baloo Tamma 2', cursive;
    color: #ec6447
}

#main-text {
    font-size: 200%;
}

#box{
  margin: auto;
  width: 50%;
  border: 3px solid#8eba49;
  padding: 20px;
  text-align: center;
}

.footer-copyright{
    text-align: center;
}

.container{
    text-align: center;
}

main{
    text-align: center;
}